/*
Color Pallet
#98A886 : GRULLO
#465C69 : DEEP SPACE SPARKLE
#363457 : DEEP KOAMARU
#735290 : DARK LAVENDER
#CDDDDD : GAINSBORO
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #465C69;
}

#baseContainer {
    background-color: #CDDDDD;
    position: fixed;
    text-align: center;
    width: 80%;
    height:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

nav {
    position:relative;
    width: 98%;
    height: 100px;
    background-color: #363457;
    border-radius:10px;
}

#addEntryContainer {
    position: relative;
    width: 80%;
    height: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 30px;
}

#content {
    position: absolute;
    height: inherit;
    width: 99%;
    left: 50%;
    transform: translate(-50%, 0%);
}

#breakdownContainer {
    width: 99%;
    height: 45%;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#summaryContainer {
    width: 99%;
    height: 45%;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollbarStyles {
    -ms-overflow-style: none;
}

a {
    padding: 10px;
}

#logo {
    height: 100%;
    width: auto;

    float:left;
    border-radius: 8px;
}

nav:nth-child(1) {
    padding: 1%;
}

.navlink {
    color: #CDDDDD;
    font-size: 1.3em;
    float: right;
}

#first {
    width: 100px;
    margin-bottom: 1%;
}

#second {
    position: relative;
    clear: right;
    float: right;
    width: 100px;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    display: block;
    color: #CDDDDD;
    text-decoration: none;
    border-radius: 4px;
    background-color: #465C69;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    color: #465C69;
    background-color: #CDDDDD;
}

.entryForm {
    clear:left;
}

.entryFormElement {
    float: left;
    padding: 5px;
    height: 30px;
}

#addEntry {
    width: 100%;
    height: 50px;
    background-color: #274156;
    border-radius: 10px;
}

#entryAmount {
    -webkit-appearance: none;
    -mos-appearance: textfield;
}

.entrySubmit {
    float: right;
}

.mainForm {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #274156;
    border-radius: 2px;
    border-color: #363457;
    padding: 3px 0px;
    color: #CDDDDD;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: #CDDDDD;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.userLabelLogin {
    float: left;
    margin-bottom: 15px;
}

.userInputLogin {
    position: relative;
    float: right;
}

.passLabelLogin {
    clear: left;
    float: left;
}

.passInputLogin {
    position: relative;
    clear: right;
    float: right;
}

.firstnameLabelReg {
    float: left;
    margin-bottom: 15px;
}

.lastnameLabelReg, .usernameLabelReg, .password1LabelReg, .password2LabelReg {
    clear: left;
    float: left;
    margin-bottom: 15px;
}

.firstnameInputReg {
    position: relative;
    float:right;
}

.lastnameInputReg, .usernameInputReg, .password1InputReg, .password2InputReg {
    clear: right;
    float: right;
}

.signIn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signUp {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#firstn, #lastn, #user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#loginErrorParagraph {
    width: inherit;
}

#loginError {
    position: absolute;
    display: none;
    color: #555;
    border-radius: 5px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: .8em;
    padding:5px 5px 5px 30px;
    margin:-4px 0px 0px 0px;
    background:#ffecec url('http://www.html5accessibility.com/images/cross.png') no-repeat 10px 50%;
    border:2px solid #f5aca6;
    width: inherit;
    text-align: center;
}

#entryErrorParagraph {
    width: inherit;
}

#entryError {
    position: absolute;
    display: none;
    color: #555;
    border-radius: 5px;
    font-family: Tahoma, Geneva, Arial, sans-serif;
    font-size: .8em;
    padding:5px 5px 5px 30px;
    margin:-4px 0px 0px 0px;
    background:#ffecec url('http://www.html5accessibility.com/images/cross.png') no-repeat 10px 50%;
    border:2px solid #f5aca6;
    width: inherit;
    text-align: center;
}

#entry {
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

#entries {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
}

.Entry {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.Entry:hover {
    transition: border-color 0.2s ease-out;
    border-color: #363457;
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.Entry {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

/* TABLE STYLING */
#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#entries {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#entries td, #entries th {
    border: 1px solid #ddd;
    padding: 8px;
}

#entries tr:nth-child(even){background-color: #f2f2f2;}

#entries tr:hover {background-color: #CDDDDD;}

#entries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #363457;
    color: #CDDDDD;
}

#totalRow {
    font-weight: bold;
}

#trashButton {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#tableBody {
    display:inline-table;
    margin: 0;
    padding: 0;
    width: 100%;
}